/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*variaveis*/

:root{
    --main-color: #54B689;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}

/*General*/
.highlight {
    color: var(--main-color)
}

/*Container*/
#container{
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#bio-container {
    
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
}


#bio-conatiner h2{
    margin-bottom: 25px;
}

#bio-conatiner p{
    margin-bottom: 20px;
}

#bio-container #welcome-text{
    font-weight: bold;
}

#bio-img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#social-container{
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#social-container li{
    flex: 1 1 0;
    max-width: 60px;

}

#social-container li a{
    color: var(--main-color);
    font-size: 30px;
}

#email-container{
    display: flex;
    justify-content: center;
    
}